# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
pip-log.txt
*.egg-info/
dist/
build/

# Node
node_modules/
dist/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnp.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
